body {
    background-color:blue;
    text-align: center
}

#tasklist {
    color:white;
    background-color: black;
    text-align: center
}

.fill {
    background-color: yellow
}

.choose {
    background-color:red;
    color: purple
}
